.order-manager-mini-order {
    /* position: relative; для спиннера в центре*/
    position: relative;
    background-color: green;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.order-manager-mini-order__btn-full-order {
    background-color: transparent;
    border: 0px;
    width: 100%;
}

.order-manager-mini-order__number {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.order-manager-mini-order__type {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.order-manager-mini-order__time {
    margin-bottom: 5px;
    font-size: 15px;
    text-align: center;
}

.order-manager-mini-order__timer {
    margin-bottom: 5px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.order-manager-mini-order__total {
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
}

.order-manager-mini-order__btn-next-status {
    width: 100%;
}

.order-manager-mini-order__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

.order-manager-mini-order__product-img {
    height: 25px;
}

.order-manager-mini-order__completed-orders {
    background-color: grey;
    color: rgb(3, 87, 3);
}

.order-manager-mini-order__timer-color-red {
    color: rgb(150, 0, 0);
}

.order-manager-mini-order__timer-color-orange {
    color: orange;
}