.order-manager-main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100vh;
}

.order-manager-main__header {
    background-color: rgba(0, 128, 0, 0.575);
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 15px;

}

.order-manager-main__header__time {
    justify-self: center;
}

.order-manager-main__header__city-selecte {
    justify-self: end;
    width: 75%;
}

.order-manager-main__main {
    flex: 1;
    overflow-x: hidden;

    display: flex;
    gap: 5px;
}

.order-manager-main__status-column {
    flex: 1;
    height: 100%;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

.order-manager-main__status-column__header {
    background-color: rgba(72, 48, 212, 0.664);
    height: 10%;
    text-align: center;
    padding: 5px;
    display: grid;
    align-items: center;
    font-size: 16px;
}

.order-manager-main__status-column__main {
    background-color: rgba(255, 166, 0, 0.664);
    flex: 1;
    overflow-x: hidden;
    padding: 5px;
}