.order-manager-full-order {
    /*  position: relative для кнопки закрыть */
    position: relative;
    width: 100%;
}

.order-manager-full-order__data {
    height: 85%;
    overflow-x: hidden;
    padding: 5px;
}

.order-manager-full-order__actions {
    border-top: 1px solid grey;
    height: 15%;
    padding: 5px;

    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 5px;
    align-items: center;
}

.order-manager-full-order__btn-actions-menu  {
    position: relative;
    padding: 5px;
}

.order-manager-full-order__actions-menu {
    position: absolute;
    top: -100px;
    left: 0;
}

.order-manager-full-order__actions-menu__btn {
    padding: 10px 5px;
    width: 100%;
}

.order-manager-full-order__actions-menu__btn-cansel {
    padding: 10px 5px;
    width: 100%;
    background-color: red;
    
}

.order-manager-full-order__btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border: 1px solid orange;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 15px;
}

.order-manager-full-order__number {
    font-weight: 700;
}

.order-manager-full-order__status {
    color: green;
}

.order-manager-full-order__time {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.order-manager-full-order__comment {
    font-size: 15px;
    margin-bottom: 10px;
}

.order-manager-full-order__comment_text {
    color: red;
}

.order-manager-full-order__products-section {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr max-content max-content;
    align-items: center;
    font-size: 15px;
    overflow-x: hidden;
    border: 1px solid var(--brand-color);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.order-manager-full-order__product-img-and-title {
    display: flex;
    align-items: center;
    gap: 5px;
}
.order-manager-full-order__product-img {
    width: 25px;
}

.order-manager-full-order__count-price {
    justify-self: center;
}

.order-manager-full-order__count {
    font-weight: 700;
}

.order-manager-full-order__product-total {
    justify-self: end;
}

.order-manager-full__block__total {
    display: grid;
    justify-content: end;
    row-gap: 5px;
    column-gap: 20px;
    align-items: center;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
    font-size: 15px;
    margin-bottom: 15px;
}

.order-manager-full-order__total {
    font-size: 16px;
    font-weight: 700;
}

.order-manager-full__phone {
    font-size: 15px;
    margin-bottom: 10px;
}

.order-manager-full__address {
    font-size: 15px;
}

.order-manager-full__address__comment {
    margin-top: 5px;
}

.order-manager-full__payment-data {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.order-manager-full__payment-data__payment {
    color: green;
}

.order-manager-full__payment-data__not-payment {
    color: red;
}