.active-order{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
}

.active-order__status {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: green;
    font-weight: 700;
    text-align: center;
}