.address-panel {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.address-panel__title {
    text-align: center;
    font-weight: 700;
}

.address-panel__text-description{
    text-align: center;
    font-size: 15px;
    text-wrap: nowrap;
    margin-bottom: 20px;
}

.address-panel__input-section {
    margin-bottom: 15px;
}

.address-panel__label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    text-wrap: nowrap;
    color: grey;
}

.address-panel__input {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
}

.address-panel__row-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.address-panel__street {
    width: 100%;
}

.address-panel__hause-number {
    width: 100%;
}

.address-panel__corps-number {
    width: 100%;
}

.address-panel__apartment-number {
    width: 100%;
}

.address-panel__enterence-number {
    width: 100%;
}

.address-panel__floor {
    width: 100%;
}

.address-panel__enterence-code {
    width: 25%;
}

.address-panel__title {
    width: 100%;
}

.address-panel__comment {
    width: 100%;
}

.address-panel__btn-add {
    width: 100%;
}

@media (max-width: 1300px) {

    .address-panel__text-description{
        margin-bottom: 10px;
    }

    .address-panel__btn-section {
        position: fixed;
        bottom: 48px;
        left: 0;
        height: 68px;
        width: 100%;
        border-top: 1px solid grey;
        padding: 5px 25px;
        background-color: white;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 522px) {}