.bottom-device-menu {
    display: none;
}

@media (max-width: 1300px) {
    .bottom-device-menu {
        display: block;
        position: fixed;
        bottom: 0;
        height: 48px;
        width: 100%;
        background: white;
        border-top: 1px solid grey;

    }

    .bottom-device-menu__inner {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
    }

    .bottom-device-menu__item {
        flex: 1;
        font-size: 25px;
        color: grey;
    }

    .bottom-device-menu__item-1 {
        text-align: left;
        background-color: transparent;
        border: 0;
    }

    .bottom-device-menu__item-2 {
        flex: 1.5;
        text-align: center;
    }

    .bottom-device-menu__item-3 {
        text-align: right;
    }

    .bottom-device-menu__item:active {
        color: var(--brand-color);
    }

    .bottom-device-menu__icon {
        position: relative;
    }

    .bottom-device-menu__product-count-in-cart {
        position: absolute;
        top: -30%;
        right: -30%;

        border-radius: 50%;
        width: 20px;
        height: 20px;

        font-size: 10px;
        font-weight: 500;
        color: var(--text-color-on-brand-color);
        background-color: var(--brand-color);

        display: flex;
        align-items: center;
        justify-content: center;
    }
}