.btn-submit {
    background-color: var(--brand-color);
    color: var(--text-color-on-brand-color);
}

/*чтобы работало только на компе с мышкой */
@media (hover: hover) {
    .btn-submit:hover {
        background-color: var(--brand-color-hover);
    }
}

.btn-submit:active {
    background-color: var(--brand-color-active);
}