.btn {
    padding: 10px 12px;
    border: 0;
    border-radius: 30px;
    font-size: var(--btn-font-size);
    white-space: nowrap;

    border-radius: 1.5rem;
}

.btn--secondary {
    border: 0;
    border-radius: 5px;
    background-color: var(--brand-color);
    color: var(--text-color-on-brand-color);
    font-size: 14px;
    padding: 5px;
    justify-self: end;
}

/*чтобы работало только на компе с мышкой */
@media (hover: hover) {
    .btn--secondary:hover {
        background-color: var(--brand-color-hover);
    }
}

.btn--secondary:active {
    background-color: var(--brand-color-active);
}