.burger-menu {
    position: fixed;
    right: 5%;
    z-index: 100;

    background-color: var(--brand-color);
    color: var(--text-color-on-brand-color);
    border-radius: 10px;
    padding: 15px;
    min-width: 250px;
}

.burger-menu__inner {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.burger-menu__item {
    color: var(--text-color-on-brand-color);
    padding: 5px 5px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.burger-menu__item--phone {
    background-color: var(--brand-color-hover);
    border-radius: 10px;
    padding: 10px 10px;
}

.burger-menu__item--phone:active {
    background-color: var(--burger-menu-phone-color-active);
}

.burger-menu__icon-and-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.burger-menu__icon {
    fill: var(--text-color-on-brand-color);
}

.burger-menu__link {
    width: 100%;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    color: var(--text-color-for-color-primary);
}

/*чтобы работало только на компе с мышкой */
@media (hover: hover) {
    .burger-menu__link:hover {
        color: black;
    }
}

.burger-menu__link:active {
    color: black;
}