@media (max-width: 1300px) {
    .burger-menu {
        position: fixed;
        right: 0;
        z-index: 10;
        background-color: var(--color-primary);
        color: var(--text-color-for-color-primary);
        border-radius: 10px;
        padding: 15px;
        min-width: 250px;
    }

    .burger-menu__item {
        display: block;
        color: var(--text-color-for-color-primary);
        padding: 10px 5px;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
    }
}

@media (max-width: 522px) {}