.cart-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 24%;
    margin-top: var(--scroll-padding-top);
}

.cart-panel__products-section {
    border: solid 2px rgba(255, 166, 0, 0.7);
    border-radius: 5px;
    overflow-x: hidden;
    height: 450px;
    padding: 15px;
    font-weight: 400;
}

.cart-panel__total-order-section {
    margin-top: 20px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.cart-panel__btn-order {
    padding: 10px 15px;
    border: 0;
    border-radius: 30px;
    background-color: rgb(255, 105, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
}

/*чтобы работало только на компе с мышкой */
@media (hover: hover) {
    .cart-panel__btn-order:hover {
        cursor: pointer;
        background-color: rgb(231, 97, 1);
    }
}

.cart-panel__btn-order:active {
    cursor: pointer;
    background-color: rgba(255, 106, 0, 0.801);
    /*убирает базовое синие выделение при клике на телефоне */
    -webkit-tap-highlight-color: transparent;
}

.cart-panel__product-section {
    display: grid;
    row-gap: 5px;
    column-gap: 10px;
    align-items: center;
    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows: max-content max-content;
    margin-top: 15px;
}

.cart-panel__product-img {
    grid-row: span 2;
    width: 100%;
    aspect-ratio: 1/1;
}

.cart-panel__product-title {
    font-size: 16px;
}

.cart-panel__product-btn-helpers {
    border: 0;
    border-radius: 10px;
    background-color: rgba(255, 166, 0, 0.9);
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 3px 5px;
    justify-self: end;
}

/*чтобы работало только на компе с мышкой */
@media (hover: hover) {
    .cart-panel__product-btn-helpers:hover {
        cursor: pointer;
        background-color: rgb(231, 97, 1);
    }
}

.cart-panel__product-btn-helpers:active {
    cursor: pointer;
    background-color: rgba(255, 106, 0, 0.801);
    /*убирает базовое синие выделение при клике на телефоне */
    -webkit-tap-highlight-color: transparent;
}

.cart-panel__product-count-price {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    white-space: nowrap;
}

.cart-panel__delivery-section {
    margin-top: 35px;
}

.cart-panel__icon-delivery {
    color: orangered;
    justify-self: center;
}

.cart-panel__product-total {
    font-size: 16px;
    white-space: nowrap;
    justify-self: end;
}

.cart-panel__preview-order-message {
    font-size: 12px;
    text-align: center;
}

.cart-panel__text-free-delivery {
    font-size: 14px;
    color: green;
    font-weight: 600;

}

.cart-panel__block-total {
    display: grid;
    row-gap: 3px;
    column-gap: 3px;
    align-items: center;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    font-size: 16px;
    font-weight: 400;
}

.cart-panel__total {
    font-size: 14px;
}

@media (max-width: 1300px) {
    .cart-panel {
        display: none;
    }

    .cart-panel__products-section {
        border: 0px;
        height: 100%;
        margin-bottom: 121px;
    }

    .cart-panel__total-order-section {
        position: fixed;
        bottom: 48px;
        height: 68px;
        width: 100%;
        border-top: 1px solid grey;
        padding: 5px 15px;
        background-color: white;
    }
}

@media (max-width: 522px) {}