.categories {
    position: sticky;
    z-index: 10;
    top: 0;
    font-size: 18px;
    font-weight: 550;
    background: white;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.7); */
    --tw-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.categories__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
    position: relative;
}

.categories__item {
    line-height: 15px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    /*убирает базовое синие выделение при клике на телефоне */
    -webkit-tap-highlight-color: transparent;
    margin: 5px 15px 5px 0px;
}


@media (hover: hover) {

    /*чтобы работало только на компе с мышкой */
    .categories__item:hover {
        color: var(--brand-color);
    }
}

.categories__item.active {
    color: var(--brand-color);
}

@media (max-width: 1300px) {
    .categories__item {
        background-color: var(--background_page_main_color);
        border-radius: 30px;
        font-weight: 400;
        color: rgb(75, 74, 74);
        padding: 8px 15px;
        margin: 3px 10px 3px 0px;

        --tw-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
        --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
    }

    .categories__item.active {
        background-color: var(--background-active-category);
        color: var(--brand-color);
    }
}

@media (max-width: 522px) {
    .categories__inner {
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin-left: -5%;
        margin-right: -5%;
    }

    .categories__item {
        margin: 3px 2px;
    }

    .categories__item:first-child {
        margin-left: 3%;
    }

    /* предпоследний элемент т.к. последний это корзина прикрепленная 
    к меню для полноэкранного режима */
    .categories__item:nth-last-child(2) {
        margin-right: 3%;
    }
}