.btn-active {
    background-color: rgb(255, 105, 0);
    color: rgb(255, 255, 255);
}

.btn-inactive {
    background-color: grey;
    color: rgb(255, 255, 255);
}

.btn-active:active {
    cursor: pointer;
    background-color: rgba(255, 106, 0, 0.801);
    /*убирает базовое синие выделение при клике на телефоне */
    -webkit-tap-highlight-color: transparent;
}

.btn-inactive:active {
    cursor: pointer;
    /*убирает базовое синие выделение при клике на телефоне */
    -webkit-tap-highlight-color: transparent;
}

/*чтобы работало только на компе с мышкой */
@media (hover: hover) {
    .btn-active:hover {
        cursor: pointer;
        background-color: rgb(231, 97, 1);
    }
}