.client-btn-submit {
    padding: 10px 12px;
    border: 0;
    border-radius: 30px;
    background-color: var(--btn-submit-back-color);
    color: var(--btn-submit-text-color);
    font-size: var(--btn-submit-font-size);
    white-space: nowrap;
}

/*чтобы работало только на компе с мышкой */
@media (hover: hover) {
    .client-btn-submit:hover {
        background-color: var(--btn-submit-back-color-hover);
        color: var(--btn-submit-text-color-hover);
    }
}

.client-btn-submit:active {
    background-color: var(--btn-submit-back-color-active);
    color: var(--btn-submit-text-color-active);
}

@media (max-width: 1300px) {}

@media (max-width: 522px) {}