.dialog {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.dialog__title {
    text-align: center;
    padding-bottom: 15px;
}

.dialog__form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    .dialog {
        height: calc(var(--vh-mobile, 1vh) * 100 - 48px);
    }
}

@media (max-width: 522px) {}