.login-panel__container {
    width: 90%;
    margin: auto;
    height: 100%;
}

.login-panel {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-panel__text-input-section {
    margin-top: 20%;
}

.login-panel__btn-section {
    text-align: center;
    margin-bottom: 20%;
}

.login-panel__soglasie {
    font-size: 15px;
    margin-bottom: 15px;
}

.login-panel__title{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.login-panel__text {
    margin: auto;
    margin-top: 15px;
    text-align: center;
    width: 70%;
    font-size: 15px;
}

.login-panel__phone-input {
    margin: auto;
    margin-top: 20%;
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    padding: 15px 20px;
    width: max-content;
}

.login-panel__code-error {
    margin: 15px auto;
    width: max-content;
    font-size: 15px;
    color: red;
}

@media (max-width: 1300px) {
    .login-panel__text-input-section {
        margin-top: 25%;
    }

    .login-panel__phone-input {
        margin-top: 15px;
    }

    .login-panel__btn-section {
        margin-bottom: 15px;
    }

    .login-panel__btn-submit {
        padding: 15px;
    }

    
}

@media (max-width: 522px) {}