.order-panel {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.order-panel__title {
    text-align: center;
    padding-bottom: 15px;
}

.order-panel__form {
    display: flex;
    flex-direction: column;
    /* height: calc(100% - 48px); */
    justify-content: space-between;
}

.order-panel__adress {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
}

.order-panel__phone {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.order-panel__btn-order {
    margin: 0 10px;
    padding: 10px 12px;
    border: 0;
    border-radius: 30px;
    background-color: rgb(255, 105, 0);
    color: rgb(255, 255, 255);
    font-size: 17px;
    white-space: nowrap;
}

/*чтобы работало только на компе с мышкой */
@media (hover: hover) {
    .order-panel__btn-order:hover {
        cursor: pointer;
        background-color: rgb(231, 97, 1);
    }
}

.order-panel__btn-order:active {
    cursor: pointer;
    background-color: rgba(255, 106, 0, 0.801);
    /*убирает базовое синие выделение при клике на телефоне */
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1300px) {
    .order-panel {
        height: calc(100vh - 48px);
    }
}

@media (max-width: 522px) {}