.product-card {
    /* border: solid 2px orange; */
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.product-card__image {
    /* border: solid 1px black; */
    width: 100%;
    aspect-ratio: 1/1;
}

.product-card__title {
    /* border: solid 1px black; */
    margin-top: 20px;
    font-size: 20px;
    font-weight: 550;
}

.product-card__description-short {
    /* border: solid 1px black; */
    margin-top: 10px;
    font-size: 14px;
    color: grey;
    margin-bottom: 30px;
}

.product-card__price-and-btn {
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.product-card__price {
    font-size: 17px;
    white-space: nowrap;
}

.product-card__plus-count-minus {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
}

@media (max-width: 1300px) {}

@media (max-width: 522px) {
    .product-card {
        padding: 0px;
        display: grid;
        column-gap: 15px;
        row-gap: 5px;
        grid-template-columns: 40% 1fr;
        grid-template-rows: max-content max-content 1fr;
    }

    .product-card__image {
        width: 100%;
        aspect-ratio: 1/1;
        grid-row: span 3;
    }

    .product-card__title {
        margin-top: 0px;
        font-size: 20px;
        font-weight: 550;
    }

    .product-card__description-short {
        margin-top: 0px;
        font-size: 14px;
        color: grey;
        margin-bottom: 0px;
    }

    .product-card__price-and-btn {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        align-self: flex-end;
    }
}