.spinner-centr-display {
    position: fixed;
    top: calc(50% - var(--spinner-widht-higth)/2);
    left: calc(50% - var(--spinner-widht-higth)/2);
    height: var(--spinner-widht-higth);
    aspect-ratio: 1/1;
    
}

.spinner {
    height: 100%;
    aspect-ratio: 1/1;

    /* Сделаем элемент круглым */
    border-radius: 50%;

    /* Одна из границ должна отличаться по цвету */
    border: solid 5px #ddd;
    border-left: solid 5px var(--color-primary);


    animation-name: spin;
    /* Применяем анимацию вращения */
    animation-duration: 1s;
    /* Период вращения */
    animation-iteration-count: infinite;
    /* Если не указать, то сделает только одно вращение */
    animation-timing-function: linear;
    /* Для того, чтобы вращение было равномерным */
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}