.gap-1px {
    gap: 1px;
}

.gap-2px {
    gap: 2px;
}

.gap-3px {
    gap: 3px;
}
.gap-4px {
    gap: 4px;
}
.gap-5px {
    gap: 5px;
}
.gap-6px {
    gap: 6px;
}
.gap-7px {
    gap: 7px;
}

.gap-8px {
    gap: 8px;
}

.gap-9px {
    gap: 9px;
}

.gap-10px {
    gap: 10px;
}

.gap-11px {
    gap: 11px;
}

.gap-12px {
    gap: 12px;
}

.gap-13px {
    gap: 13px;
}

.gap-14px {
    gap: 14px;
}

.gap-15px {
    gap: 15px;
}