:root {
    --scroll-padding-top: 65px;
    --vh-mobile: 1vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding-top);
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}









