:root {
    --scroll-padding-top: 65px;
    --vh-mobile: 1vh;
    --popup-title-height: 45px;
    --spinner-widht-higth: 40px;
    --btn-font-size: 15px;


    //эти парметры получаем с бэка, здесь установлены стартовые значения до загрузки с бэка
    --background_page_main_color: #f3f4f6;
    --background_page_elements_color: #ffffff;
    --brand-color: grey;
    --text_color_main: #000000;
    --text-color-on-brand-color: #ffffff;
    --text_color_accent: #42db00;
    --bottom_nav_color: #a6a6a6;

    //эти параметры устанавливаем при инициализации приложения, здесь установлены стартовые значения до инициализации
    --brand-color-hover: #f97316;
    --brand-color-active: #f97316;
    --background-active-category: #f3f4f6;
    --border-color-order-settings: grey;
}









