.index-list-employee__full-name{
    width: 35%;
}

.index-list-employee__phone{
    width: 20%;
}

.index-list-employee__roles{
    display: flex;
    flex-wrap: wrap;
    width: 25%; 
}

.index-list-employee__roles_element{
    padding-right: 10px;
    white-space: nowrap; 
}