.address-create {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.address-create__h1-description {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    text-wrap: nowrap;
    margin-bottom: 20px;
}

.address-create__label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    text-wrap: nowrap;
    color: grey;
}

.address-create__input {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
}

.address-create__row-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.address-create__street {
    width: 100%;
}

.address-create__hause-number {
    width: 100%;
}

.address-create__corps-number {
    width: 100%;
}

.address-create__apartment-number {
    width: 100%;
}

.address-create__enterence-number {
    width: 100%;
}

.address-create__floor {
    width: 100%;
}

.address-create__enterence-code {
    width: 25%;
}

.address-create__title {
    width: 100%;
}

.address-create__comment {
    width: 100%;
}

@media (max-width: 1300px) {}

@media (max-width: 522px) {}