.address-panel {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.address-panel__h1-description {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    text-wrap: nowrap;
    margin-bottom: 20px;
}

.address-panel__label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    text-wrap: nowrap;
    color: grey;
}

.address-panel__input {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
}

.address-panel__row-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.address-panel__street {
    width: 100%;
}

.address-panel__hause-number {
    width: 100%;
}

.address-panel__corps-number {
    width: 100%;
}

.address-panel__apartment-number {
    width: 100%;
}

.address-panel__enterence-number {
    width: 100%;
}

.address-panel__floor {
    width: 100%;
}

.address-panel__enterence-code {
    width: 25%;
}

.address-panel__title {
    width: 100%;
}

.address-panel__comment {
    width: 100%;
}

.address-panel__btn-add {
    width: 100%;
}

@media (max-width: 1300px) {}

@media (max-width: 522px) {}