.cart-panel {}

.cart-panel__order-settings-section {
    margin-top: 10px;
    margin-bottom: 20px;
}

.cart-panel__city-selecte {
    margin-bottom: 15px;
}

.cart-panel__products-section {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cart-panel__total-order-section {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.cart-panel__product-section {
    display: grid;
    row-gap: 5px;
    column-gap: 30px;
    align-items: center;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: max-content max-content;
}

.cart-panel__product-img {
    grid-row: span 2;
    width: 100%;
    aspect-ratio: 1/1;
}

.cart-panel__product-btn-helpers {
    font-size: 15px;
    width: 27px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    justify-self: end;

    background-color: var(--btn-secondary-bg-color);
    color: rgb(255, 255, 255);
}

/*чтобы работало только на компе с мышкой */
@media (hover: hover) {
    .cart-panel__product-btn-helpers:hover {
        background-color: var(--btn-secondary-bg-color-hover);
    }
}

.cart-panel__product-btn-helpers:active {
    background-color: var(--btn-secondary-bg-color-active);
}

.cart-panel__product-count-price {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.cart-panel__delivery-section {
    margin-top: 35px;
}

.cart-panel__icon-delivery {
    color: var(--color-icon-delivery-in-cart);
    justify-self: center;
}

.cart-panel__product-total {
    white-space: nowrap;
    justify-self: end;
}

.cart-panel__preview-order-message {
    font-size: 12px;
    text-align: center;
}

.cart-panel__text-free-delivery {
    font-size: 14px;
    color: green;
    font-weight: 600;

}

.cart-panel__block-total {
    display: grid;
    row-gap: 3px;
    column-gap: 3px;
    align-items: center;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    font-size: 16px;
    font-weight: 400;
}

.cart-panel__total {
    font-size: 14px;
}

.cart-panel__btn-next {
    width: 100%;
}

@media (max-width: 1300px) {
    .cart-panel__products-section {
        font-size: 16px;
        gap: 15px;
    }

    .cart-panel__product-section {
        column-gap: 10px;
        grid-template-columns: 30% 1fr 1fr;
    }

    .cart-panel__total-order-section {
        gap: 15px;
    }
}

@media (max-width: 522px) {}