.cart-panel {}

.cart-panel__order-settings-section {
    margin-top: 10px;
    margin-bottom: 20px;
}

.cart-panel__city-selecte {
    margin-bottom: 15px;
}

.cart-panel__products-section {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cart-panel__total-order-section {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.cart-panel__delivery-section {
    margin-top: 35px;
}

.cart-panel__icon-delivery {
    /* color: var(--brand-color); */
    justify-self: center;
}

.cart-panel__preview-order-message {
    font-size: 12px;
    text-align: center;
}

.cart-panel__text-free-delivery {
    font-size: 14px;
    color: green;
    font-weight: 600;

}

.cart-panel__block-total {
    display: grid;
    row-gap: 3px;
    column-gap: 3px;
    align-items: center;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    font-size: 16px;
    font-weight: 400;
}

.cart-panel__total {
    font-size: 14px;
}

.cart-panel__btn-next {
    width: 100%;
}

@media (max-width: 1300px) {
    .cart-panel__products-section {
        font-size: 16px;
        gap: 15px;
    }

    .cart-panel__total-order-section {
        gap: 15px;
    }
}