.login-panel {
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.login-panel__soglasie-parent {
    position: relative;
    width: 100%;
}

.login-panel__soglasie {
    width: 100%;
    position: absolute;
    top: -68px;
    font-size: 15px;
    text-align: center;
}

.login-panel__text {
    font-size: 15px;
    text-align: center;
}

.login-panel__phone-input {
    border: 1px solid var(--brand-color);
    border-radius: 30px;
    padding: 15px 25px;
    width: max-content;
}

.login-panel__code-error {
    margin: 15px auto;
    width: max-content;
    font-size: 15px;
    color: red;
}

.login-panel__btn-submit {
    width: 100%;
}

@media (max-width: 1300px) {}

@media (max-width: 522px) {}