:root {
    --scroll-padding-top: 65px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 2px orange; */
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding-top);
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/* @media only screen and (max-width: 1439px) {
    .container {
        width: 1024px;
    }
} */

/* @media only screen and (max-width: 1279px) {
    .container {
        width: 960px;
    }
} */

.info {
    font-size: 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.7);
}

.info__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0px;
}

.info__item {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    margin: 5px 15px 5px 0px;
}

.info__item:hover {
    color: rgb(255, 105, 0);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.header__inner__left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__logo {
    height: 70px;
}

.header__button {
    border: 0;
    border-radius: 30px;
    padding: 12px 20px;
    background-color: rgba(128, 128, 128, 0.158);
    color: grey;
    font-weight: 600;
}

.header__button:hover {
    cursor: pointer;
    color: black;
}

.header__btn-burger-menu {
    display: none;
}

.categories {
    position: sticky;
    top: 0;
    font-size: 18px;
    font-weight: 550;
    background: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.7);
}

.categories__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
    position: relative;
}

.categories__item {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    /*убирает базовое синие выделение при клике на телефоне */
    -webkit-tap-highlight-color: transparent;
    margin: 5px 15px 5px 0px;
}


@media (hover: hover) {

    /*чтобы работало только на компе с мышкой */
    .categories__item:hover {
        color: rgb(255, 105, 0);
    }
}

.categories__item.active {
    color: rgb(255, 105, 0);
}

.cart-panel {
    position: absolute;
    top: 0;
    right: 0;
    border: solid 2px rgba(255, 166, 0, 0.7);
    border-radius: 5px;
    background: white;
    width: 24%;
    height: 450px;
    padding: 15px;
    margin-top: var(--scroll-padding-top);
    overflow-x: hidden;
}

.cart-panel__total-order {
    position: absolute;
    top: 0;
    right: 0;
    width: 24%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: calc(var(--scroll-padding-top) + 450px);
}

.cart-panel__btn-order {
    padding: 10px 15px;
    border: 0;
    border-radius: 30px;
    background-color: rgb(255, 105, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
}

/*чтобы работало только на компе с мышкой */
@media (hover: hover) {
    .cart-panel__btn-order:hover {
        cursor: pointer;
        background-color: rgb(231, 97, 1);
    }
}

.cart-panel__btn-order:active {
    cursor: pointer;
    background-color: rgba(255, 106, 0, 0.801);
    /*убирает базовое синие выделение при клике на телефоне */
    -webkit-tap-highlight-color: transparent;
}

.cart-panel__product-section {
    /* border: 1px solid black; */
    display: grid;
    row-gap: 5px;
    column-gap: 10px;
    align-items: center;
    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows: max-content max-content;
    margin-top: 15px;
    font-weight: 500;
}

.cart-panel__product-img {
    /* border: 1px solid black; */
    grid-row: span 2;
    width: 100%;
    aspect-ratio: 1/1;
}

.cart-panel__product-title {
    /* border: 1px solid black; */
    /* grid-column: span 2; */
    font-size: 16px;
}

.cart-panel__product-btn-helpers {
    border: 0;
    border-radius: 10px;
    background-color: rgba(255, 166, 0, 0.9);
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 3px 5px;
    justify-self: end;
}

/*чтобы работало только на компе с мышкой */
@media (hover: hover) {
    .cart-panel__product-btn-helpers:hover {
        cursor: pointer;
        background-color: rgb(231, 97, 1);
    }
}

.cart-panel__product-btn-helpers:active {
    cursor: pointer;
    background-color: rgba(255, 106, 0, 0.801);
    /*убирает базовое синие выделение при клике на телефоне */
    -webkit-tap-highlight-color: transparent;
}

.cart-panel__product-count-price {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    white-space: nowrap;
}

.cart-panel__product-total {
    /* border: 1px solid black; */
    font-size: 16px;
    white-space: nowrap;
    justify-self: end;
}

.content {}

.content__inner {
    padding: 0 0 25px 0;
    width: 75%;
}

.content__category-sections {
    margin-top: 45px;
}

.content__category-sections:first-child {
    margin-top: 20px;
}

.content__category-title {
    margin-bottom: 30px;
}



.content__category-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
}

.product-card {
    /* border: solid 2px orange; */
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.product-card__image {
    /* border: solid 1px black; */
    width: 100%;
    aspect-ratio: 1/1;
}

.product-card__title {
    /* border: solid 1px black; */
    margin-top: 20px;
    font-size: 20px;
    font-weight: 550;
}

.product-card__description-short {
    /* border: solid 1px black; */
    margin-top: 10px;
    font-size: 14px;
    color: grey;
    margin-bottom: 30px;
}

.product-card__price-and-btn {
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.product-card__price {
    font-size: 17px;
    white-space: nowrap;
}

.product-card__btn-cart {
    padding: 10px 12px;
    border: 0;
    border-radius: 30px;
    background-color: rgb(255, 105, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
    white-space: nowrap;
}

/*чтобы работало только на компе с мышкой */
@media (hover: hover) {
    .product-card__btn-cart:hover {
        cursor: pointer;
        background-color: rgb(231, 97, 1);
    }
}

.product-card__btn-cart:active {
    cursor: pointer;
    background-color: rgba(255, 106, 0, 0.801);
    /*убирает базовое синие выделение при клике на телефоне */
    -webkit-tap-highlight-color: transparent;
}

.product-card__plus-count-minus {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
}

.product-card__btns-plus-minus {
    color: white;
    background-color: rgb(255, 105, 0);
    border: 0px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 45%;
    padding: 10px 12px;
}

.product-card__btns-plus-minus:active {
    cursor: pointer;
    background-color: rgba(255, 106, 0, 0.801);
    /*убирает базовое синие выделение при клике на телефоне */
    -webkit-tap-highlight-color: transparent;
}

.bottom-device-menu {
    display: none;
}