* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

@media only screen and (max-width: 1439px) {
    .container {
        width: 1024px;
    }
}

@media only screen and (max-width: 1279px) {
    .container {
        width: 960px;
    }
}

.info {
    font-size: 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.7);
}

.info__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0px;
}

.info__item {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    margin: 5px 15px 5px 0px;
}

.info__item:hover {
    color: rgb(255, 105, 0);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;   
}

.header__inner__left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__logo {
    height: 70px;
}

.header__button {
    border: 0;
    border-radius: 30px;
    padding: 12px 20px;
    background-color: rgba(128, 128, 128, 0.158);
    color: grey;
    font-weight: 600;
}

.header__button:hover {
    cursor: pointer;
    color: black;
}

.categories {
    position: sticky;
    top: 0;
    font-size: 16px;
    font-weight: 550;
    background: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.7);
}

.categories__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
}

.categories__item {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    margin: 5px 15px 5px 0px;
}

.categories__item:hover {
    color: rgb(255, 105, 0);
}

.content {
    margin-top: 15px;
}

.btn-cart {
    display: none;
    border: 0;
    border-radius: 30px;
    padding: 12px 20px;
    background-color: rgb(255, 105, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 550;
}

.btn-cart:active {
    cursor: pointer;
    background-color: rgb(231, 97, 1);
}

.btn-cart-icon {
    width: 0px;
    height: 0px;
    font-size: 0px;
}