:root {
    --scroll-padding-top: 65px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 2px orange; */
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding-top);
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

@media only screen and (max-width: 1439px) {
    .container {
        width: 1024px;
    }
}

@media only screen and (max-width: 1279px) {
    .container {
        width: 960px;
    }
}

.info {
    font-size: 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.7);
}

.info__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0px;
}

.info__item {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    margin: 5px 15px 5px 0px;
}

.info__item:hover {
    color: rgb(255, 105, 0);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.header__inner__left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__logo {
    height: 70px;
}

.header__button {
    border: 0;
    border-radius: 30px;
    padding: 12px 20px;
    background-color: rgba(128, 128, 128, 0.158);
    color: grey;
    font-weight: 600;
}

.header__button:hover {
    cursor: pointer;
    color: black;
}

.header__btn-burger-menu {
    display: none;
}

.categories {
    position: sticky;
    top: 0;
    font-size: 18px;
    font-weight: 550;
    background: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.7);
}

.categories__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
    position: relative;
}

.categories__item {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    /*убирает базовое синие выделение при клике на телефоне */
    -webkit-tap-highlight-color: transparent;
    margin: 5px 15px 5px 0px;
}

.categories__item:hover {
    color: rgb(255, 105, 0);
}

.categories__item.active {
    color: rgb(255, 105, 0);
}

.cart {
    position: absolute;
    top: 0;
    right: 0;
    border: solid 2px rgba(255, 166, 0, 0.7);
    border-radius: 5px;
    background: white;
    width: 23%;
    padding: 15px;
    margin-top: var(--scroll-padding-top);
}

.content {}

.content__inner {
    padding: 0 0 25px 0;
    width: 75%;
}

.content__inner h2:first-child {
    margin-top: 20px;
}

.content__category-title {
    margin-top: 45px;
    margin-bottom: 30px;
}

.content__category-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
}

.product-card {
    /* border: solid 2px orange; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card__image {
    width: 100%;
    aspect-ratio: 1/1;
}

.product-card__title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 550;
}

.product-card__description-short {
    margin-top: 10px;
    font-size: 14px;
    color: grey;
}

.product-card__price-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.product-card__price {
    font-size: 17px;
}

.product-card__btn-cart {
    padding: 10px 15px;
    border: 0;
    border-radius: 30px;
    background-color: rgb(255, 105, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
}

.product-card__btn-cart:hover {
    cursor: pointer;
    background-color: rgb(231, 97, 1);
}

.product-card__btn-cart:active {
    cursor: pointer;
    background-color: rgb(231, 97, 200);
}

.btn-cart {
    display: none;
    border: 0;
    border-radius: 30px;
    padding: 12px 20px;
    background-color: rgb(255, 105, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 550;
}

.btn-cart:active {
    cursor: pointer;
    background-color: rgb(231, 97, 1);
}

.btn-cart-icon {
    width: 0px;
    height: 0px;
    font-size: 0px;
}