@media (max-width: 979px) {
    .container {
        width: 90%;
    }

    .categories__item {
        background-color: rgb(235, 235, 235);
        border-radius: 30px;
        font-weight: 400;
        color: rgb(75, 74, 74);
        padding: 5px 15px;
        margin: 3px 10px 3px 0px;
    }

    .categories__item:hover {
        background-color: rgba(255, 166, 0, 0.281);
        color: rgb(255, 105, 0);
    }

    .info {
        display: none;
    }

    .header__inner {
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .header__logo {
        height: 40px;
    }

    .header__company-name {
        font-size: 24px;
    }

    .header__tagline {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__btn-burger-menu {
        display: block;
        border: 0;
        background: transparent;
        font-size: 22px;
        color: rgb(255, 105, 0);
    }

    .burger-menu {
        position: fixed;
        right: 0;
        z-index: 10;
        background-color: rgb(255, 105, 0);
        border-radius: 10px;
    }
    
    .burger-menu__item {
        display: block;
        color: white;
        padding: 10px 5px;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
    }

    .btn-cart {
        display: block;
        position: fixed;
        bottom: 60px;
        right: 20px;
        border-radius: 20px;
        font-size: 0px;
        padding: 12px 12px;
        -webkit-tap-highlight-color: transparent;
    }

    .btn-cart-icon {
        width: 100%;
        height: 100%;
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .categories__inner {
        flex-wrap: nowrap;
        overflow-y: hidden;
        margin-left: -5%;
        margin-right: -5%;
    }

    .categories__item {
        margin: 3px 2px;
    }

    .categories__item:first-child {
        margin-left: 3%;
    }

    .categories__item:last-child {
        margin-right: 3%;
    }
}